<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Stef's Music Shop</h1>
      <p>Time to rock!</p>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
       <p>
        <%= link_to 'Sign In', user_session_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
