/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
  }

#background-image {
  background-image: image-url("frontpage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
} 

.jumbotron {
  background-color: transparent;
} 

.centered {
  text-align: center;
}

.title {
  font-family: 'Oswald', sans-serif-bold;
  color: black;
}

#logout {
  color: black;
}

#white-button {
  color: white;
}

th {
  text-align: center;
}

.panel {
  border-style: solid;
  border-color: black;
  background-color: transparent;
  border-radius:20px;
  padding-bottom: 10px;
}

.container-wrapper {
    margin-top: 75px;
}

#instrument_index {
  font-size: 200%;
}

#purchase_bar {
  font-size: 50%;
}


